<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsnJkZXUuXvquPqdfQ-M1fzF0GBt6lQJA</string>
	<key>GCM_SENDER_ID</key>
	<string>657668157743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kitap</string>
	<key>PROJECT_ID</key>
	<string>kitap-rotam</string>
	<key>STORAGE_BUCKET</key>
	<string>kitap-rotam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657668157743:ios:45e1b66bd35787ad30b1da</string>
</dict>
</plist>